 # Python
__pycache__/
*.pyc

# Secrets
.env
.env.*
service_account.json
 
# Virtual environments
venv/
env/
 
# Environment variables
.env
git rm --cached frontend/.env.development.local
 
# Jupyter
.ipynb_checkpoints/
 
# Logs
*.log
 
# Databases
*.db
*.sqlite3

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db